<section class="py-3 py-md-5 mt-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="assets/images/section1.jpg" alt="section 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">Welcome to Rental Ride, your trusted source for rental cars in the heart of the city </p>
              <p class="mb-5"> Our service offers a diverse fleet of vehicles, from sleek sedans and robust SUVs to eco-friendly hybrids and luxury models. Whether you're a business traveler in need of a reliable ride, a family on vacation, or a local looking for a convenient rental, we've got you covered. With flexible rental terms, competitive pricing, and a seamless online booking system, getting behind the wheel has never been easier. Our friendly staff is here to help you choose the perfect car for your needs, and we offer 24/7 roadside assistance to ensure your journey is smooth and safe. Visit Rental Ride today, and let's get you on the road in style!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
