<!-- Bootstrap Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Container for social media buttons -->
    <div class="container p-4 pb-0">
      <!-- Social Media Buttons Section -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-danger m-1" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-danger m-1" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>
  
        <!-- Google -->
        <a class="btn btn-outline-danger m-1" href="#!" role="button">
          <i class="fab fa-google"></i>
        </a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-danger m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
  
        <!-- LinkedIn -->
        <a
          class="btn btn-outline-danger m-1"
          href="https://www.linkedin.com/in/nesma-fayez-ab8784287/"
          role="button"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
  
        <!-- GitHub -->
        <a
          class="btn btn-outline-danger m-1"
          href="https://github.com/nesmafayz"
          role="button"
        >
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
  
    <!-- Copyright Section -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.3);">
      © 2024 Copyright: for RentalRide
  
    </div>
  </footer>
  
