
body {
    background-image: url('/assets/images/successPayment.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .success-message {
    background-color: rgba(14, 12, 12, 0.822); /* Semi-transparent background */
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 100%; /* Adjust as needed */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
  }

  .success-message h2 {
    font-size: 50px;
    margin-bottom: 20px;
   color: rgb(184, 21, 21);
  }

  .success-message p {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .brown-text {
    color: rgb(184, 21, 21);
  }
  