<div id="form-ui" class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: black;">
    <form id="form" [formGroup]="resetPasswordForm" (ngSubmit)="handleResetPassword()">
        <div id="form-body">
            <div id="welcome-lines" class="text-center">
                <p id="welcome-line-1">Reset Password</p>
            </div>
            <div id="input-area">
                <div class="form-inp">
                    <input type="text" formControlName="userName" name="userName" placeholder="User Name or Email" required>
                </div>
                <div class="alert alert-danger" *ngIf="resetPasswordForm.get('userName')?.errors && resetPasswordForm.get('userName')?.touched">
                    <p *ngIf="resetPasswordForm.get('userName')?.getError('required')">Username </p>
                </div>

                <div class="form-inp">
                    <input type="password" formControlName="oldPassword" name="oldPassword" placeholder="old Password" required>
                </div>
                <div class="alert alert-danger" *ngIf="resetPasswordForm.get('oldPassword')?.errors && resetPasswordForm.get('oldPassword')?.touched">
                    <p *ngIf="resetPasswordForm.get('oldPassword')?.getError('required')">old Password is required</p>
                </div>

                <div class="form-inp">
                    <input type="password" formControlName="newPassword" name="newPassword" placeholder=" New Password" required>
                </div>
                <div class="alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
                    <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')"> New Password is required</p>
                    
                </div>
            </div>
            <div id="send" class="text-center">
                <button id="send-button">Reset Password</button>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <p class=" fw-bold mt-2 pt-1 mb-0">Remember your password? <a [routerLink]="['/Login']">Log in</a></p>
            </div>
        </div>
    </form>
</div>
