#form-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color:white;
    font-weight:bold;
  }
  
  #form {
    width: 500px;
    padding: 40px;
    background-color: #161616;
    box-shadow: 0px 15px 60px red;
    border-radius: 12px;
  }
  
  .form-inp {
    border: 1px solid red; /* Border color does not change on focus */
    border-radius: 10px;
    padding: 12px 30px;
    background: transparent; /* Transparent background */
    margin-bottom: 20px;
  }
  
  .form-inp input,
  .form-inp textarea {
    width: 100%;
    font-size: 15px;
    color: white; /* Text color remains consistent */
    background: transparent;
    border: none;
  }
  
  .form-inp input:focus,
  .form-inp textarea:focus {
    outline: none; /* Prevent the default outline on focus */
   
   
  }
  
  #send {
    margin-top: 30px;
  }
  
  #send-button {
    padding: 16px;
    border: 1px solid red;
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: red;
    color: #161616;
  }
  
  .form-inp {
    display: flex;
    align-items: center; 
    padding: 12px;
}

#remember-me {
    margin-right: 10px; 
}

label[for='remember-me'] {
    color: white; 
}

.forgot-password-link {
  color: white !important; 
  text-decoration: none; 
}

.forgot-password-link:hover {
  text-decoration: underline; 
  color: white !important; 
}

.form-check-label {
  color: white; 
}

  
